.idea
venv
.venv
single-cell-data
workspace
outpyr/train-*.py
.Rhistory
*.egg-info
*__pycache__*
.#*
.~*
.fuse*
backup*
Copy*
*.txt
*.pickle
*~
*.tsv
*.json
*.h5
*.hdf5
*.npy
*.csv
*.xls
*.xlsx
*.pdf
*.eps
*.png
*.db
*.rds
*.log
*.svg
*.gif
*.tex
*.out
*.aux
*.fls
*.fdb_latexmk